<div class="content sidebar">
  <article>
    <div class="clearfix article-head">
        <h1>Year 9 (next year)</h1>
        <p>1 credit planned</p>
    </div>
    <div class="clearfix article-body">
        <div class="slot-course">
          <div class="info-container">
            <p>English</p>
            <p>ENG1PI | <span>English 9</span><span class="pull-right">1 cr.</span></p>
          </div>
        </div>
        <div class="slot-course">
          <div class="info-container">
            <p>Functions</p>
            <p>MAT1U1 | <span>Math 9</span><span class="pull-right">1 cr.</span></p>
          </div>
        </div>
        <div class="slot-add">
          <div class="info-container">
            <p>Add Sience 9</p>
            <p><span>1 cr.</span></p>
          </div>
        </div>
        <div class="slot-add">
          <div class="info-container">
            <p>Add Geography</p>
            <p><span>1 cr.</span></p>
          </div>
        </div>
        <div class="slot-add">
          <div class="info-container">
            <p>Add French</p>
            <p><span>1 cr.</span></p>
          </div>
        </div>
        <div class="slot-add">
          <div class="info-container">
            <p>Add Elective</p>
            <p><span>16 cr.</span></p>
          </div>
        </div>
        <div class="slot-available">
          <div class="info-container">
            <p>Slot Available</p>
          </div>
        </div>
        <div class="slot-available">
          <div class="info-container">
            <p>Slot Available</p>
          </div>
        </div>
    </div>
    <div class="clearfix article-footer">
      <div class="border center-block">
          <button class="btn btn-primary center-block">Ready to submit</button>
      </div>
    </div>
  </article>
</div>
