<div class="container sort-filter">
  <div class="row">
      <div class="col-md-4 sort-group">
        <div class="row">
          <div class="col-md-3">
            <p>Requirement</p>
          </div>
          <div class="col-md-9">
            <select class="selectpicker form-control">
              <option>Show All</option>
              <option>English</option>
              <option>Math</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-8 check-boxes-group">
          <div class="row">
            <div class="col-md-12">
              <p>Credits</p>
              <div class="check-box">
                <input type="checkbox" id="All" value="All">
                <label for="All">All</label>
              </div>
              <div class="check-box">
                <input type="checkbox" id="Earned" value="Earned">
                <label for="Earned">Earned</label>
              </div>
              <div class="check-box">
                <input type="checkbox" id="Planned" value="Planned">
                <label for="Planned">Planned</label>
              </div>
              <div class="check-box">
                <input type="checkbox" id="Remaining" value="Remaining">
                <label for="Remaining">Remaining</label>
              </div>
          </div>
        </div>
  </div>
</div>